.form_container {
    display: flex;
    flex-direction: column;
    width: 80%;
    

}
.forget {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;

}

.forget a {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    transition: .3rem;
    
}

.forget a:hover {
    text-decoration: underline;
}

.conectado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    color: rgb(247, 247, 247);
    
}
.logup {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    color: rgb(247, 247, 247);
}
.logup a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.logup a:hover {
    text-decoration: underline;
}